@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: theme('colors.midnight.crow');
	color: theme('colors.silver.50');
	cursor: default;
}

::selection {
	background: rgba(35, 131, 226, 0.28);
}

::-webkit-scrollbar {
	width: 10px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: theme('colors.midnight.pitch');
	border-radius: 1px;
}

[role='button'] {
	cursor: default;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	position: relative;
}


pre[class*=language-] {
    padding-top: 2.5em !important;
	border-radius: 4px;
}